<mat-card class="welcome-center">
  <div  class="welcome-left">
    <img src="/assets/home.jpg">
  </div>
  <div class="welcome-right">
    <img src="/assets/logo.svg" alt="">
    <h1>Welcome Back to OCP Dashboard Controls</h1>
    <h3>You can Get Now All the information you need visually </h3>
    <a mat-button routerLink="/dashboard" class="menu-button" color="primary" style="width: 50%;">
      <mat-icon>space_dashboard</mat-icon>
      KPI's of electrical<br> energy</a>
    <a mat-button routerLink="/production-history" class="menu-button" color="primary">
      <mat-icon>history</mat-icon>
      <span>The History of<br>production</span></a>
    <a mat-button routerLink="/data-estimation" class="menu-button" color="primary">
      <mat-icon>analytics</mat-icon>
      <span>The estimation of electric<br> power on real time</span></a>
  </div>
  <br style="clear:both;"/>
</mat-card>
