.example-spacer {
  flex: 1 1 auto;
}
.menu-button:hover{
  background-color: rgba(0,0,0,0.4);
}
.menu-button:first-of-type{
  background-color: rgba(0,0,0,0.4);
}
.menu-button{
  color: white;
  margin-right: 20px;
}
.router-link-active{
  background-color: rgba(0,0,0,0.4);
}
.menu-button span{
  margin-left: 14px;
}
.menu-logo{
  margin-top: 10px;
  margin-right: 20px;
}
#sub-menu{
  margin-top: 16px;
  float: right;
}
#notif mat-icon{
  margin-right: 16px;
  color: white;
  font-size: 25px;
}
#profile{
  color: white;
}
.my-navbar{
  position: sticky;
  position: -webkit-sticky; /* For macOS/iOS Safari */
  top: 0; /* Sets the sticky toolbar to be on top */
  z-index: 1000; /* Ensure that your app's content doesn't overlap the toolbar */
}
