mat-grid-tile {
  /*background: lightblue;*/
  border-bottom: black 1px;
}
.example-spacer {
  flex: 1 1 auto;
}
.menu-button{
  color: white;
  padding-left: 16px;
  padding-right: 16px;
  margin-right: 20px;
  background-color: rgba(0,0,0,0.1);
}
.menu-logo{
  margin-right: 20px;
}
#sub-menu{
  margin-top: 16px;
  float: right;
}
#notif mat-icon{
  margin-right: 16px;
  color: white;
  font-size: 24px;
}
#profile{
  color: white;
}
.temp{
  border-left: 2px solid rgb(229, 231, 233);
  /*background-color: rgb(229, 231, 233);*/
}
.vit{
  border-right: 2px solid rgb(229, 231, 233);
  /*background-color: rgb(234, 242, 248 );*/
}
